.cover-home {
    background: url('https://i.postimg.cc/4yXsyQrF/chuttersnap-a-En-H4h-J-Mrs-unsplash-1.jpg');
    width: 100%;
    height: calc(100vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    gap: 20px;
}

.event-link {
    width: 300px;
    height: 60px;
    border: 1px solid #fff;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

.event-link::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s;
}

.event-link::after {
    content: 'HOTEL COCHABAMBA';
    font-size: 18px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
}

.event-link:hover::before {
    left: 0;
}

.event-link:hover::after {
    background: linear-gradient(#913561, #CC293F);
    -webkit-background-clip: text;
    color: transparent;
}

.about-home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 20px;
}

.description-about-home {
    width: 600px;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.our-services-about {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #913561;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.our-services-about::before {
    content: 'NUESTROS SERVICIOS';
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #913561;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    z-index: 10;
    transition: all 0.5s;
}

.our-services-about::after {
    display: block;
    content: ' ';
    background: linear-gradient(#913561, #CC293F);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s;
}

.our-services-about:hover::before {
    color: #fff;
}

.our-services-about:hover::after {
    left: 0;
}

.qualities-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
}

.quality {
    width: 1fr;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    background: #fff;
    cursor: pointer;
}

.quality:nth-child(1) {
    border: 2px solid #913561;
    color: #913561;
}

.quality:nth-child(2) {
    border: 2px solid #CC293F;
    color: #CC293F;
}

.quality:nth-child(3) {
    border: 2px solid #FFA732;
    color: #FFA732;
}

.quality:nth-child(1):hover {
    background: linear-gradient(to bottom, #913561, #4d2d3c);
    color: #fff;
    border: none;
}

.quality:nth-child(2):hover {
    background: linear-gradient(to bottom, #CC293F, #5e1e26);
    color: #fff;
    border: none;
}

.quality:nth-child(3):hover {
    background: linear-gradient(to bottom, #FFA732, #a76e24);
    color: #fff;
    border: none;
}

.quality-name {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 32px;
}

.quality-description {
    font-size: 18px;
    text-align: justify;
}

.comments {
    background: url('https://i.postimg.cc/nh5srMnf/charanjeet-dhiman-9x-Ob-RZd-EN7g-unsplash-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.comments-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 400px;
    overflow: hidden;
    padding: 10px;
}

.comment {
    width: calc(100% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    position: absolute;
    top: 0;
    transition: all 0.5s;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}

.comment.center {
    left: 0;
}

.comment.left {
    left: -100%;
}

.comment.right {
    left: 100%;
}


.author-name {
    font-size: 32px;
    background: linear-gradient(#913561, #CC293F);
    -webkit-background-clip: text;
    color: transparent;
}

.author-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.author-comment {
    text-align: justify;
    font-size: 18px;
}

.left-button-comments,
.right-button-comments {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.left-button-comments {
    left: 20px;
}

.right-button-comments {
    right: 20px;
}

@media (max-width: 1220px) {
    .qualities-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quality-name {
        font-size: 24px;
    }

    .quality-description {
        font-size: 18px;
    }

    .comments-container {
        width: 600px;
        height: 400px;
    }

    .comment {
        padding: 20px;
        gap: 20px;
    }
}

@media (max-width: 740px) {
    .quality {
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    .description-about-home {
        width: 100%;
    }

    .comments-container {
        width: 300px;
        height: 400px;
    }

    .comment {
        gap: 10px;
    }

    .author-name {
        font-size: 24px;
    }

    .author-image {
        width: 60px;
        height: 60px;
    }

    .left-button-comments,
    .right-button-comments {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .left-button-comments {
        left: 10px;
    }

    .right-button-comments {
        right: 10px;
    }
}

@media (max-width: 400px) {
    .comments-container {
        width: 240px;
        height: 600px;
    }

    .comment {
        height: 600px;
    }

    .author-name {
        font-size: 18px;
    }

    .author-image {
        width: 40px;
        height: 40px;
    }

    .left-button-comments {
        left: 5px;
    }

    .right-button-comments {
        right: 5px;
    }
}