.cover-home {
    background: url('https://i.postimg.cc/4yXsyQrF/chuttersnap-a-En-H4h-J-Mrs-unsplash-1.jpg');
    width: 100%;
    height: calc(100vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.about-home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 20px;
}

.description-about-home {
    width: 600px;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.our-services-about {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #913561;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.our-services-about::before {
    content: 'NUESTROS SERVICIOS';
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #913561;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    z-index: 10;
    transition: all 0.5s;
}

.our-services-about::after {
    display: block;
    content: ' ';
    background: linear-gradient(#913561, #CC293F);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s;
}

.our-services-about:hover::before {
    color: #fff;
}

.our-services-about:hover::after {
    left: 0;
}

.qualities-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
}

.quality {
    width: 1fr;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.quality:nth-child(1) {
    border: 2px solid #913561;
    color: #913561;
}

.quality:nth-child(2) {
    border: 2px solid #CC293F;
    color: #CC293F;
}

.quality:nth-child(3) {
    border: 2px solid #FFA732;
    color: #FFA732;
}

.quality:nth-child(1):hover {
    background-color: #913561;
    color: #fff;
}

.quality:nth-child(2):hover {
    background-color: #CC293F;
    color: #fff;
}

.quality:nth-child(3):hover {
    background-color: #FFA732;
    color: #fff;
}

.quality-name {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 32px;
}

.quality-description {
    font-size: 18px;
    text-align: justify;
}

.comments {
    background: url('https://i.postimg.cc/nh5srMnf/charanjeet-dhiman-9x-Ob-RZd-EN7g-unsplash-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.comments-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.comment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    position: absolute;
    top: 0;
    left: -100%;
}

.comment.center {
    left: 0;
}

.author-name {
    font-size: 32px;
}

.author-comment {
    text-align: justify;
    font-size: 18px;
}

.left-button-comments,
.right-button-comments {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.left-button-comments {
    left: 20px;
}

.right-button-comments {
    right: 20px;
}